@font-face {
  font-family: IRANSans;
  font-style: normal;
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format("embedded-opentype"), url(../fonts/IRANSansWeb/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb/IRANSansWeb.woff) format("woff"), url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format("truetype");
}

@font-face {
  font-family: Samim;
  font-style: normal;
  src: url(../fonts/samim/Samim.eot);
  src: url(../fonts/samim/Samim.eot) format("embedded-opentype"), url(../fonts/samim/Samim.woff2) format("woff2"), url(../fonts/samim/Samim.woff) format("woff"), url(../fonts/samim/Samim.ttf) format("truetype");
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot);
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot) format("embedded-opentype"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff2) format("woff2"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff) format("woff"), url(../fonts/samim/Farsi-Digits/Samim-FD.ttf) format("truetype");
}

body {
  font-family: 'Samim';
  background-color: #fff;
  font-size: 100%;
  direction: rtl;
  box-sizing: border-box;
}

body a:focus {
  outline: 0;
}

body .container-fluid {
  padding: 0;
  margin: 0;
}

button.view-all {
  background-color: #4a1f61;
  border: 0;
  padding: 0.35rem;
  border-radius: 4px;
  color: white;
  width: 140px;
  font-family: "Samim";
  margin: 2rem 0;
  font-size: 90%;
}

section.single-advertising-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.single-advertising-section h2.advertising__title {
  width: 90%;
  text-align: center;
  border-bottom: 1px solid #b8b8b8;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

section.single-advertising-section h2.advertising__title span {
  padding: 0 1rem;
  background-color: white;
  border: 2px solid #b8b8b8;
  border-radius: 50%;
}

section.single-advertising-section div.advertising-placeholder {
  width: 90%;
  height: 250px;
  background-color: rgba(184, 184, 184, 0.5);
  border-radius: 12px;
  margin: 2rem 0;
}

section.several-advertising-section {
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  margin: auto;
  border-bottom: 1px solid #b8b8b8;
}

section.several-advertising-section .advertising-placeholder {
  height: 250px;
  background-color: rgba(184, 184, 184, 0.5);
  border-radius: 12px;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

section.space-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

section.space-section div.space-section__parent {
  width: 90%;
  border-top: 1px solid rgba(184, 184, 184, 0.5);
}

section.space-section div.space-section__parent h3.space-section-title {
  text-align: center;
  width: 100%;
  font-size: 1.3rem;
  color: #4a1f61;
  background-color: rgba(184, 184, 184, 0.5);
  border-radius: 12px;
  padding: 1.5rem 0;
  font-weight: 600;
  margin: 2rem 0;
}

div.swiper-button-prev,
div.swiper-button-next {
  background-color: white;
  box-shadow: 0 0 8px 2px rgba(62, 63, 63, 0.5);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: #4a1f61;
}

div.swiper-button-prev:after,
div.swiper-button-next:after {
  font-size: 24px;
  font-weight: 900;
}

div.swiper-button-disabled {
  color: #979797;
  box-shadow: 0 0 8px 2px rgba(62, 63, 63, 0.5);
}
/*# sourceMappingURL=common.css.map */