@font-face {
  font-family: IRANSans;
  font-style: normal;
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format("embedded-opentype"), url(../fonts/IRANSansWeb/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb/IRANSansWeb.woff) format("woff"), url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format("truetype");
}

@font-face {
  font-family: Samim;
  font-style: normal;
  src: url(../fonts/samim/Samim.eot);
  src: url(../fonts/samim/Samim.eot) format("embedded-opentype"), url(../fonts/samim/Samim.woff2) format("woff2"), url(../fonts/samim/Samim.woff) format("woff"), url(../fonts/samim/Samim.ttf) format("truetype");
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot);
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot) format("embedded-opentype"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff2) format("woff2"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff) format("woff"), url(../fonts/samim/Farsi-Digits/Samim-FD.ttf) format("truetype");
}

html ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html ::-webkit-scrollbar-thumb {
  background: rgba(62, 63, 63, 0.2);
  border-radius: 10px;
}

html ::-webkit-scrollbar-thumb:hover {
  background: rgba(62, 63, 63, 0.5);
}

body {
  font-family: 'Samim';
  background-color: #fff;
  font-size: 100%;
  direction: rtl;
  box-sizing: border-box;
}

body a:focus {
  outline: 0;
}

body .container-fluid {
  padding: 0;
  margin: 0;
}

header.dolatsara__menu {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-top: 1px solid #4a1f61;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

header.dolatsara__menu div.dolatsara__all-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 1rem 2rem;
  background: #e9e9e9;
}

header.dolatsara__menu div.dolatsara__all-menu nav.dolatsara__right-menu {
  padding-top: 0;
}

header.dolatsara__menu div.dolatsara__all-menu nav.dolatsara__right-menu button.dolatsara__toggle-button {
  background-color: rgba(184, 184, 184, 0.5);
}

header.dolatsara__menu div.dolatsara__all-menu nav.dolatsara__right-menu button.dolatsara__toggle-button:focus {
  border: rgba(0, 0, 0, 0.2);
  outline: 0;
  box-shadow: none;
}

header.dolatsara__menu div.dolatsara__all-menu nav.dolatsara__right-menu button.dolatsara__toggle-button span.navbar-toggler-icon {
  color: #b8b8b8;
  height: max-content;
  padding-bottom: 0.2rem;
}

header.dolatsara__menu div.dolatsara__all-menu nav.dolatsara__right-menu div#dolatsara__menu-list ul.dolatsara__menu li.dolatsara__menu-item:hover {
  border-bottom: 2px solid #4a1f61;
}

header.dolatsara__menu div.dolatsara__all-menu nav.dolatsara__right-menu div#dolatsara__menu-list ul.dolatsara__menu li.dolatsara__menu-item a {
  color: #4a1f61;
  font-weight: 600;
  font-size: 13px;
  padding-left: 1rem;
  padding-right: 1rem;
}

header.dolatsara__menu div.dolatsara__all-menu nav.dolatsara__right-menu div#dolatsara__menu-list ul.dolatsara__menu li.dolatsara__menu-item svg {
  margin-right: 0.375rem;
}

header.dolatsara__menu div.dolatsara__all-menu nav.dolatsara__right-menu div#dolatsara__menu-list ul.dolatsara__menu li.dolatsara__menu-item ul.dolatsara__sub-menu {
  margin-top: 0;
  padding: 0;
}

header.dolatsara__menu div.dolatsara__all-menu nav.dolatsara__right-menu div#dolatsara__menu-list ul.dolatsara__menu li.dolatsara__menu-item ul.dolatsara__sub-menu li.dolatsara__sub-menu-item {
  text-align: right;
}

header.dolatsara__menu div.dolatsara__all-menu nav.dolatsara__right-menu div#dolatsara__menu-list ul.dolatsara__menu li.dolatsara__menu-item ul.dolatsara__sub-menu li.dolatsara__sub-menu-item a {
  padding: 0.5rem;
  font-size: 80%;
}

header.dolatsara__menu div.dolatsara__all-menu nav.dolatsara__right-menu div#dolatsara__menu-list ul.dolatsara__menu li.dolatsara__menu-item ul.dolatsara__sub-menu li.dolatsara__sub-menu-item a:focus {
  outline: 0;
  background-color: transparent;
}

header.dolatsara__menu div.dolatsara__all-menu nav.dolatsara__right-menu div#dolatsara__menu-list ul.dolatsara__menu li.dolatsara__menu-item ul.dolatsara__sub-menu li.dolatsara__sub-menu-item a:hover {
  background-color: rgba(74, 31, 97, 0.15);
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu {
  display: flex;
  align-items: center;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu button.dolatsara__city-button {
  all: unset;
  color: rgba(0, 0, 0, 0.35);
  background-color: rgba(184, 184, 184, 0.25);
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu button.dolatsara__city-button:hover {
  color: rgba(0, 0, 0, 0.7);
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu button.dolatsara__city-button i {
  font-size: 14px;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__city-modal {
  z-index: 10000;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__city-modal div.modal-header {
  display: block;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__city-modal div.modal-header h5 {
  margin-bottom: 1rem;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__city-modal div.modal-header span {
  color: rgba(151, 151, 151, 0.75);
  font-size: 14px;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__city-modal form.dolatsara__city-modal-form div.modal-body {
  position: relative;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__city-modal form.dolatsara__city-modal-form div.modal-body input.dolatsara__search-city {
  padding-right: 2rem;
  width: 100%;
  height: 45px;
  border-radius: 4px;
  border: 1px solid rgba(151, 151, 151, 0.5);
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__city-modal form.dolatsara__city-modal-form div.modal-body svg {
  padding: 0 0.375rem 0 0;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  font-size: 28px;
  color: rgba(184, 184, 184, 0.5);
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__city-modal form.dolatsara__city-modal-form div.modal-body ul.dolatsara__city-list {
  max-height: 300px;
  overflow-y: auto;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__city-modal form.dolatsara__city-modal-form div.modal-body ul.dolatsara__city-list li.dolatsara__city-list-item {
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__city-modal form.dolatsara__city-modal-form div.modal-body ul.dolatsara__city-list li.dolatsara__city-list-item:hover {
  background-color: rgba(151, 151, 151, 0.1);
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__city-modal form.dolatsara__city-modal-form div.modal-body ul.dolatsara__city-list li.dolatsara__city-list-item label {
  padding: 1rem 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__city-modal form.dolatsara__city-modal-form div.modal-footer {
  border: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__city-modal form.dolatsara__city-modal-form div.modal-footer button {
  all: unset;
  padding: 0.5rem 0.375rem;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(238, 238, 238, 0.5);
  border: 1px solid rgba(238, 238, 238, 0.15);
  width: 40%;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__city-modal form.dolatsara__city-modal-form div.modal-footer button:hover {
  background-color: rgba(238, 238, 238, 0.9);
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__city-modal form.dolatsara__city-modal-form div.modal-footer button.dolatsara__confirm-button {
  border: 1px solid rgba(74, 31, 97, 0.7);
  background-color: rgba(74, 31, 97, 0.9);
  color: white;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__city-modal form.dolatsara__city-modal-form div.modal-footer button.dolatsara__confirm-button:hover {
  background-color: #4a1f61;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu a.dolatsara__phone {
  color: #4a1f61;
  font-weight: 600;
  text-decoration: none;
  margin-right: 0.5rem;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu a.dolatsara__phone strong {
  font-size: 18px;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu a.dolatsara__phone small {
  font-weight: 500;
  font-size: 14px;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__setting-list {
  position: relative;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__setting-list button.dolatsara__setting-button {
  background: transparent;
  border: 0;
  border-right: 1px solid #4a1f61;
  padding: 0;
  margin-right: 1rem;
  display: flex;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__setting-list button.dolatsara__setting-button svg,
header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__setting-list button.dolatsara__setting-button i,
header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__setting-list button.dolatsara__setting-button img {
  margin-right: 1rem;
  color: #4a1f61;
  max-width: 40px;
  max-height: 40px;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__setting-list ul.dolatsara__setting-list-icons {
  padding: 0;
  margin-top: 0;
  transform: translate3d(-8px, 48px, 0px) !important;
  width: 350px;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__setting-list ul.dolatsara__setting-list-icons div.row {
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__setting-list ul.dolatsara__setting-list-icons div.row li {
  width: 90px;
  height: 90px;
  display: flex;
  border-radius: 12px;
  margin: 0.5rem;
  background-color: rgba(184, 184, 184, 0.1);
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__setting-list ul.dolatsara__setting-list-icons div.row li:hover {
  background-color: rgba(184, 184, 184, 0.25);
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__setting-list ul.dolatsara__setting-list-icons div.row li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
  padding: 0;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__setting-list ul.dolatsara__setting-list-icons div.row li a:focus {
  outline: 0;
  background-color: transparent;
  color: black;
}

header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__setting-list ul.dolatsara__setting-list-icons div.row li a svg,
header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__setting-list ul.dolatsara__setting-list-icons div.row li a i,
header.dolatsara__menu div.dolatsara__all-menu div.dolatsara__left-menu div.dolatsara__setting-list ul.dolatsara__setting-list-icons div.row li a img {
  max-width: 50px;
  max-height: 50px;
  font-size: 32px;
  color: #4a1f61;
}

.modal-backdrop.fade.show {
  z-index: 90;
}
/*# sourceMappingURL=dolatsaraMenu.css.map */