@font-face {
  font-family: IRANSans;
  font-style: normal;
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format("embedded-opentype"), url(../fonts/IRANSansWeb/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb/IRANSansWeb.woff) format("woff"), url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format("truetype");
}

@font-face {
  font-family: Samim;
  font-style: normal;
  src: url(../fonts/samim/Samim.eot);
  src: url(../fonts/samim/Samim.eot) format("embedded-opentype"), url(../fonts/samim/Samim.woff2) format("woff2"), url(../fonts/samim/Samim.woff) format("woff"), url(../fonts/samim/Samim.ttf) format("truetype");
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot);
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot) format("embedded-opentype"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff2) format("woff2"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff) format("woff"), url(../fonts/samim/Farsi-Digits/Samim-FD.ttf) format("truetype");
}

body {
  font-family: 'Samim';
  background-color: #fff;
  font-size: 100%;
  direction: rtl;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a:focus {
  outline: 0;
}

body .container-fluid {
  padding: 0;
  margin: 0;
}

@media (max-width: 991px) {
  section.dolatsara-slider-section {
    padding: 0 1rem;
    width: calc(100% - 2rem);
  }
  section.dolatsara-slider-section div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  section.dolatsara-slider-section div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide .slide-item-parent {
    padding: 1rem 2rem;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  section.dolatsara-slider-section div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide .slide-item-parent div.card-body-slider {
    margin: 0 1rem;
    width: calc(100% - 2rem);
  }
  section.dolatsara-slider-section div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide .slide-item-parent div.card-body-slider .image-placeholder {
    height: 120px;
    width: 150px;
  }
  section.dolatsara-slider-section div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide .slide-item-parent div.card-body-slider h4.item-slide__title {
    padding: 0.5rem 0;
  }
  section.dolatsara-slider-section div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide .slide-item-parent div.card-footer-slider {
    height: 50px;
    margin: 0 1rem;
    width: calc(100% - 2rem);
  }
  section.dolatsara-slider-section div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide .slide-item-parent div.card-footer-slider div.footer-column {
    padding: 0 0.5rem;
  }
  section.dolatsara-slider-section div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide .slide-item-parent div.card-footer-slider div.footer-column .score-icon {
    width: 16px;
    height: 16px;
  }
  section.dolatsara-slider-section div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide .slide-item-parent .item-slide__sub-title {
    font-size: 14px;
    max-width: 120px;
    padding: 0.375rem 0;
  }
  section.several-row-slider div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide .slide-item-parent .image-placeholder {
    height: 150px;
  }
  section.single-row-slider div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide .slide-item-parent .image-placeholder {
    height: 150px;
  }
  section.single-row-slider div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide .slide-item-parent .content-box div.code-name-advertising-box p.code-advertising,
  section.single-row-slider div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide .slide-item-parent .content-box div.code-name-advertising-box p.name-advertising {
    margin: 0.5rem 0;
  }
  section.album-slider .dolatsara-slider div.swiper {
    width: 90%;
  }
  section.album-slider .dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide-prev,
  section.album-slider .dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide-next {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  section.album-slider .dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide-active {
    -webkit-transform: scale(1.18);
            transform: scale(1.18);
  }
  section.tab-navigation {
    display: none;
  }
}

@media (max-width: 768px) {
  section.dolatsara-slider-section div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide,
  section.dolatsara-slider-section div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide-prev,
  section.dolatsara-slider-section div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide-next,
  section.dolatsara-slider-section div.dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide-active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  section.album-slider .dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  section.album-slider .dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide-prev,
  section.album-slider .dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide-next {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  section.album-slider .dolatsara-slider div.swiper div.swiper-wrapper div.swiper-slide-active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .banner-content {
    margin-bottom: 0;
  }
  .banner-content .grid-boxes-section {
    display: none;
  }
  section.best-categorie-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 2rem 0;
  }
  section.best-categorie-icon .icon-box-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 90%;
    border-bottom: 1px solid #b8b8b8;
  }
  section.best-categorie-icon .icon-box-parent .icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 2rem 0;
    background-color: #4a1f61;
    border-radius: 50%;
    width: 55px;
    height: 55px;
  }
  section.best-categorie-icon .icon-box-parent .icon-box .icon-category {
    color: white;
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  section.best-categorie-icon .icon-box-parent .icon-box {
    width: 45px;
    height: 45px;
  }
  section.best-categorie-icon .icon-box-parent .icon-box .icon-category {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=mediaSlider2.css.map */