@import "./../base";

@media (max-width: 991px) {
  section.dolatsara-slider-section {
    padding: 0 1rem;
    width: calc(100% - 2rem);

    div.dolatsara-slider {
      div.swiper.mySwiper {
        div.swiper-wrapper {
          div.swiper-slide {
            height: max-content;

            .slide-item-parent {
              padding: 1rem 2rem;
              height: max-content;

              div.card-body-slider {
                margin: 0 1rem;
                width: calc(100% - 2rem);

                .image-placeholder {
                  height: 120px;
                  width: 150px;

                  img {
                  }
                }

                h4.item-slide__title {
                  padding: 0.5rem 0;
                }
              }

              div.card-footer-slider {
                height: 50px;
                margin: 0 1rem;
                width: calc(100% - 2rem);

                div.footer-column {
                  padding: 0 0.5rem;

                  .score-icon {
                    width: 16px;
                    height: 16px;
                  }
                }
              }

              .item-slide__sub-title {
                font-size: 14px;
                max-width: 120px;
                padding: 0.375rem 0;
              }
            }
          }

          div.swiper-slide-prev,
          div.swiper-slide-next {
          }

          div.swiper-slide-active {
          }
        }

        div.swiper-button-prev,
        div.swiper-button-next {
          //   display: none;
        }
      }
    }
  }

  section.several-row-slider {
    h2.several-row-slider__title {
    }

    div.dolatsara-slider {
      div.swiper {
        div.swiper-wrapper {
          div.swiper-slide {
            .slide-item-parent {
              .image-placeholder {
                height: 150px;

                img {
                }
              }

              div.content-box {
                h3.title-item {
                }

                div.code-name-advertising-box {
                  p.code-advertising,
                  p.name-advertising {
                  }
                }

                div.card-footer-slider {
                  p.home-advertising,
                  p.location-advertising {
                    svg.footer-icon {
                    }
                  }
                }
              }
            }
          }
        }

        // div.swiper-pagination.swiper-pagination-bullets {
        //   display: block;

        //   span.swiper-pagination-bullet-active {
        //     background-color: rgba($color: $color-purple, $alpha: 1);
        //   }
        // }

        div.swiper-button-prev,
        div.swiper-button-next {
          // display: none;
        }
      }
    }
  }

  section.single-row-slider {
    h2.single-row-slider__title {
      span {
      }
    }

    div.dolatsara-slider {
      div.swiper {
        div.swiper-wrapper {
          div.swiper-slide {
            .slide-item-parent {
              .image-placeholder {
                height: 150px;

                img {
                }
              }

              .content-box {
                h3.title-item {
                }

                div.code-name-advertising-box {
                  p.code-advertising,
                  p.name-advertising {
                    margin: 0.5rem 0;
                  }
                }

                div.card-footer-slider {
                  p.home-advertising,
                  p.location-advertising {
                    svg.footer-icon {
                    }
                  }
                }
              }
            }
          }
        }

        // div.swiper-pagination.swiper-pagination-bullets {
        //   display: block;

        //   span.swiper-pagination-bullet-active {
        //     background-color: rgba($color: $color-purple, $alpha: 1);
        //   }
        // }

        div.swiper-button-prev,
        div.swiper-button-next {
          // display: none;
        }
      }
    }
  }

  section.album-slider {
    .dolatsara-slider {
      div.swiper {
        width: 90%;

        div.swiper-wrapper{
          div.swiper-slide-prev,
          div.swiper-slide-next {
            transform: scale(1.025);
          }
  
          div.swiper-slide-active {
            transform: scale(1.18);
          }
        }
      }
    }
  }

  section.tab-navigation {
    display: none;
  }
}

@media (max-width: 768px) {
  section.dolatsara-slider-section {
    div.dolatsara-slider {
      div.swiper.mySwiper {
        div.swiper-wrapper {
          div.swiper-slide {
            transform: scale(1);
          }

          div.swiper-slide-prev,
          div.swiper-slide-next {
            transform: scale(1);
          }

          div.swiper-slide-active {
            transform: scale(1);
          }
        }
      }
    }
  }

  section.album-slider {
    .dolatsara-slider {
      div.swiper {
        div.swiper-wrapper {
          div.swiper-slide {
            transform: scale(1);
          }

          div.swiper-slide-prev,
          div.swiper-slide-next {
            transform: scale(1);
          }

          div.swiper-slide-active {
            transform: scale(1);
          }
        }
      }
    }
  }
}
