@media (max-width: 991px) {
  header.dolatsara__menu {
    div.dolatsara__all-menu {
      nav.dolatsara__right-menu {
        div#dolatsara__menu-list {
          a.logo-img-link {
            img.logo-img {
              margin: 1rem 0;
            }
          }
          ul.dolatsara__menu {
            li.dolatsara__menu-item {
              &:hover {
                border-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  header.dolatsara__menu {
    div.dolatsara__all-menu {
      padding: 0.5rem;

      nav.dolatsara__right-menu {
        div#dolatsara__menu-list {
          ul.dolatsara__menu {
            li.dolatsara__menu-item {
              &:hover {
                border-bottom: 0;
              }
            }
          }
        }
      }

      div.dolatsara__left-menu {
        a.dolatsara__phone {
          width: 100px;
          text-align: left;

          strong {
            font-size: 1rem;
          }
        }

        div.dolatsara__setting-list {
          button.dolatsara__setting-button {
            margin-right: 0.5rem;
            width: 55px;

            svg {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}
