@import './fonts';

$color-light:#fff;
$color-light-2:#faf6fb;
$color-gray:#eeeeee;
$color-gray-2:#979797;
$color-gray-3:#3e3f3f;
$color-error:#ef5662;
$color-dark:#000000;

$color-font:#F4F9F9;
$color-background:#faf6fb;
$color-selected:#00bfd6;

//dolatsara
$color-purple : #4a1f61;
$color-gray-4:#b8b8b8;

body {
    font-family: 'Samim';
    background-color: $color-light;
    font-size: 100%;
    direction: rtl;
    box-sizing: border-box;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;

    a:focus {
        outline: 0;
    }

    .container-fluid {
        padding: 0;
        margin: 0;
    }
}

@mixin section-style {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0;
}